/**
 * generic/_root.scss
 */

/* ==========================================================================
   Root elements
   ========================================================================== */

/* Viewport
   ========================================================================== */

@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

/* html
   ========================================================================== */

/**
 * Reference:
 * http://filamentgroup.com/lab/how-we-learned-to-leave-body-font-size-alone.html
 */

:root { font-size: 1em; }
