/**
 * objects/_float.scss
 */

/* ==========================================================================
   Layout
   ========================================================================== */

/* Contain floats
   ========================================================================== */

.u-cf {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after { clear: both; }
}

/* Floats
   ========================================================================== */

.u-float--none { float: none !important; }

.u-float--left { float: left !important; }

.u-float--right { float: right !important; }
