/**
 * objects/_columns.scss
 */

/* ==========================================================================
   Column Count
   ========================================================================== */

/* Default values
   ========================================================================== */

[class*='o-cols'] { column-gap: ($gutter * 2); }

.o-cols--2 { columns: 1; }
.o-cols--4 { columns: 1; }

/* Media queries
   ========================================================================== */

@include m-bp-more-than($bp-xs-min) {
    .o-cols--2,
    .o-cols--4 { columns: 2; }
}

@include m-bp-more-than($bp-m-min) {
    .o-cols--4 { columns: 4; }
}
