/**
 * objects/_columns.scss
 */

/* ==========================================================================
   Column Count
   ========================================================================== */

/* Default values
   ========================================================================== */

[class*='columns'] { column-gap: ($gutter * 2); }

.columns--2 { columns: 1; }
.columns--4 { columns: 1; }

/* Media queries
   ========================================================================== */

@include bp-more-than($small-screen-min) {
    .columns--2,
    .columns--4 { columns: 2; }
}

@include bp-more-than($large-screen-min) {
    .columns--4 { columns: 4; }
}
