/**
 * components/_image-cover.scss
 */

/* ==========================================================================
   Image cover
   ========================================================================== */

/* General
   ========================================================================== */

/**
 * Cover the background area with an image
 *
 * @Note The actual image urls need to be defined inline
 */

[class*='image-cover'] {
    position: relative;

    &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 0;
        margin: auto;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        content: '';
    }
}

/* Image cover modifiers
   ========================================================================== */

/* Opacity */

[class*='image-cover'] {
    &[class*='--opacity-0pc']:after { @include opacity(0); }
    &[class*='--opacity-25pc']:after { @include opacity(0.25); }
    &[class*='--opacity-50pc']:after { @include opacity(0.5); }
    &[class*='--opacity-75pc']:after { @include opacity(0.75); }
    &[class*='--opacity-100pc']:after { @include opacity(1); }
}
