/**
 * objects/_layout.scss
 */

/* ==========================================================================
   Layout
   ========================================================================== */

/* Contain floats
   ========================================================================== */

.cf {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after { clear: both; }
}

/* Floats
   ========================================================================== */

.float--none { float: none !important; }

.float--left { float: left !important; }

.float--right { float: right !important; }
