/**
 * objects/_layout.scss
 */

/* ==========================================================================
   Layout
   ========================================================================== */

/* Contain floats
   ========================================================================== */

.cf { @include cf($extend: false); }

/* Floats
   ========================================================================== */

.float--none { float: none !important; }

.float--left { float: left !important; }

.float--right { float: right !important; }
