/**
 * objects/_margin.scss
 */

/* ==========================================================================
   Margin
   ========================================================================== */

/* Margin vars
   ========================================================================== */

$margins:
    ('none' 0),
    ($size-mod-xs 0.5em),
    ($size-mod-s 1em),
    ($size-mod-m 2em),
    ($size-mod-l 4em),
    ($size-mod-xl 8em);

/* Generate margin
   ========================================================================== */

/**
 * Auto generate margin selectors
 */

@each $margin in $margins {
    $margin-name: nth($margin, 1);
    $margin-value: nth($margin, 2);

    .o-margin-right--#{$margin-name} { margin-right: $margin-value !important; }
    .o-margin-btm--#{$margin-name} { margin-bottom: $margin-value !important; }
    .o-margin-left--#{$margin-name} { margin-left: $margin-value !important; }
    .o-margin-top--#{$margin-name} { margin-top: $margin-value !important; }
    .o-margin-horz--#{$margin-name} { margin: 0 $margin-value !important; }
    .o-margin-vert--#{$margin-name} { margin: $margin-value 0 !important; }
    .o-margin-all--#{$margin-name} { margin: $margin-value !important; }
}
