/**
 * objects/_position--extends.scss
 */

/* ==========================================================================
   Position
   ========================================================================== */

// Absolute center

.o-position--absolute-center {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    top: 0 !important;
    margin: auto !important;
}

// Fixed

.o-position--fixed {
    position: fixed !important;
    backface-visibility: hidden; // Improves performance
}
