/**
 * objects/_text.scss
 */

/* ==========================================================================
   Text
   ========================================================================== */

/* Family modifiers
   ========================================================================== */

.o-font-family--arial { font-family: $arial !important; }
.o-font-family--georgia { font-family: $georgia !important; }

/* Size modifiers
   ========================================================================== */

// Smaller
.o-font-size--smaller { font-size: smaller !important; }

// Larger
.o-font-size--larger { font-size: larger !important; }

/* Hide
   ========================================================================== */

.o-hide-text {
    /* Method 1 */

    position: absolute;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;

    /* Method 2 */

    // border: 0;
    // clip: rect(0 0 0 0);
    // height: 1px;
    // margin: -1px;
    // overflow: hidden;
    // padding: 0;
    // position: absolute;
    // width: 1px;

    /* Method 3 */

     //text-indent: 100%;
     //white-space: nowrap;
     //overflow: hidden;
}

/* Text break
   ========================================================================== */

.o-text--break { word-wrap: break-word !important; }

/* Truncate
   ========================================================================== */

.o-text--truncate {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
}

/* Transform
   ========================================================================== */

.o-text-transform--uppercase { text-transform: uppercase !important; }

/* Alignment
   ========================================================================== */

/* Right */

.o-text-align--right { text-align: right !important; }

/* Center */

.o-text-align--center { text-align: center !important; }

/* Left */

.o-text-align--left { text-align: left !important; }
