/**
 * objects/_vertical-align.scss
 */

/* ==========================================================================
   Vertical align
   ========================================================================== */

/**
 * Reference: http://css-tricks.com/centering-in-the-unknown/
 *
 * Usage:
 *
 * <div class='o-valign'>
 *     <div class='o-valign__content--middle'>
 *         <!-- Content -->
 *     </div>
 * </div>
 *
 * @note Parent element must have position relative
 */

/* Extends
   ========================================================================== */

%inline-block {
    display: inline-block !important;
    *display: inline; // IE<8
    zoom: 1; // IE<8
    max-width: 100%;
    vertical-align: middle;
}

/* Wrapper
   ========================================================================== */

.o-valign {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Pseudo element to center on */

.o-valign:before {
    @extend %inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

/* Top
   ========================================================================== */

/* Content element */

.o-valign__content--top {
    @extend %inline-block;
    width: 100%;
    vertical-align: top;
}

/* Middle
   ========================================================================== */

/* Content element */

.o-valign__content--middle {
    @extend %inline-block;
    width: 100%;
    vertical-align: middle;
}

/* Bottom
   ========================================================================== */

/* Content element */

.o-valign__content--bottom {
    @extend %inline-block;
    width: 100%;
    vertical-align: bottom;
}
