/**
 * settings/_patterns.scss
 */

/* ==========================================================================
   Patterns
   ========================================================================== */

$pattern-1: '../images/pattern-1.png' !default;
$pattern-2: '../images/pattern-2.png' !default;
$pattern-3: '../images/pattern-3.png' !default;
$pattern-4: '../images/pattern-4.png' !default;
