/**
 * settings/_sizes.scss
 */

/* ==========================================================================
   Sizes
   ========================================================================== */

/* Modifier names */

$size-mod-xs: 'xs';
$size-mod-s: 's';
$size-mod-m: 'm';
$size-mod-l: 'l';
$size-mod-xl: 'xl';
