/**
 * settings/_typography.scss
 */

/* ==========================================================================
   Typography
   ========================================================================== */

/* Font families
   ========================================================================== */

$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$georgia: Georgia, Times, 'Times New Roman', serif !default;

/* Base styles
   ========================================================================== */

$sans-serif: $arial !default;
$serif: $georgia !default;

$display-heading: $sans-serif !default;
$sub-heading: $serif !default;
$body-heading: $sans-serif !default;
$intro: $serif !default;

$base-font-family: $sans-serif !default;

/* Sizes
   ========================================================================== */

// Generic sizes
$font-size-xxl: 3em; // 48px
$font-size-xl: 2.625em; // 42px
$font-size-l: 2.25em; // 36px
$font-size-m: 1.875em; // 30px
$font-size-s: 1.5em; // 24px
$font-size-xs: 1em; // 16px
$font-size-xxs: 0.75em; // 12px

//Generic line heights
$line-height-xxl: 4;
$line-height-xl: 3.5;
$line-height-l: 3;
$line-height-m: 2.5;
$line-height-s: 2;
$line-height-xs: 1.5;
$line-height-xxs: 1;

// Base sizes
$base-font-size: $font-size-xs; // 1em/16px
$base-line-height: $line-height-xs;  // 1.5 * 16px = 22px

// Headings
$font-size-h1: $font-size-xxl;
$font-size-h2: $font-size-xl;
$font-size-h3: $font-size-l;
$font-size-h4: $font-size-m;
$font-size-h5: $font-size-s;
$font-size-h6: $font-size-xs;

// Other
$font-size-blockquote: $font-size-s;
