// scss-lint:disable VendorPrefixes

/**
 * tools/_gradients.scss
 */

/* ==========================================================================
   Gradients
   ========================================================================== */

/* Vertical
   ========================================================================== */

// 2 colour stops
@mixin vertical-gradient--2color($fromColor, $toColor) {
    background: -moz-linear-gradient(top, $fromColor, $toColor);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor));
    background: -webkit-linear-gradient(top, $fromColor, $toColor);
    background: -o-linear-gradient(top, $fromColor, $toColor);
    background: -ms-linear-gradient(top, $fromColor, $toColor);
    background: linear-gradient(to bottom, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$fromColor}', endColorstr='#{$toColor}', GradientType=0);
}

// 3 color stops
@mixin vertical-gradient--3color($startColor, $middleColor, $endColor) {
    background: -moz-linear-gradient(top, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(50%, $middleColor), color-stop(100%, $endColor));
    background: -webkit-linear-gradient(top, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -o-linear-gradient(top, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -ms-linear-gradient(top, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: linear-gradient(to bottom, $startColor 0%, $middleColor 50%, $endColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1);
}

/* Horizontal
   ========================================================================== */

// 2 colour stops
@mixin horizontal-gradient--2color($fromColor, $toColor) {
    background: -moz-linear-gradient(left, $fromColor, $toColor);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $fromColor), color-stop(100%, $toColor));
    background: -webkit-linear-gradient(left, $fromColor, $toColor);
    background: -o-linear-gradient(left, $fromColor, $toColor);
    background: -ms-linear-gradient(left, $fromColor, $toColor);
    background: linear-gradient(to right, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$fromColor}', endColorstr='#{$toColor}', GradientType=1);
}

// 3 color stops
@mixin horizontal-gradient--3color($startColor, $middleColor, $endColor) {
    background: -moz-linear-gradient(left, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop(50%, $middleColor), color-stop(100%, $endColor));
    background: -webkit-linear-gradient(left, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -o-linear-gradient(left, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: -ms-linear-gradient(left, $startColor 0%, $middleColor 50%, $endColor 100%);
    background: linear-gradient(to right, $startColor 0%, $middleColor 50%, $endColor 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1);
}
