// scss-lint:disable VendorPrefixes

/**
 * _opacity.scss
 */

/* ==========================================================================
   Opacity
   ========================================================================== */

@mixin opacity($value, $important: false) {
    $ie-value: $value * 100;

    @if ($important) {
        opacity: $value !important;
    } @else {
        opacity: $value;
    }

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity='+$ie-value+')";
    filter: alpha(opacity=$ie-value);
}
