/**
 * objects/_position--extends.scss
 */

/* ==========================================================================
   Position
   ========================================================================== */

// Absolute center

@mixin position--absolute-center($extend: true) {
    @if $extend {
        @extend %position--absolute-center;
    } @else {
        position: absolute !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        top: 0 !important;
        margin: auto !important;
    }
}

%position--absolute-center { @include position--absolute-center($extend: false); }

// Fixed

@mixin position--fixed($extend: true) {
    @if $extend {
        @extend %position--fixed;
    } @else {
        position: fixed !important;
        backface-visibility: hidden; // Improves performance
    }
}

%position--fixed { @include position--fixed($extend: false); }
