/**
 * objects/_text--extends.scss
 */

/* ==========================================================================
   Text
   ========================================================================== */

/* Size modifiers
   ========================================================================== */

// Smaller
%font-size--smaller { font-size: smaller !important; }

// Larger
%font-size--larger { font-size: larger !important; }

/* Hide
   ========================================================================== */

@mixin hide-text($extend: true) {
    @if $extend {
        @extend %hide-text;
    } @else {

        /* Method 1 */

        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;

        /* Method 2 */

        // border: 0;
        // clip: rect(0 0 0 0);
        // height: 1px;
        // margin: -1px;
        // overflow: hidden;
        // padding: 0;
        // position: absolute;
        // width: 1px;

        /* Method 3 */

        // text-indent: 100%;
        // white-space: nowrap;
        // overflow: hidden;
    }
}

%hide-text { @include hide-text($extend: false); }

/* Text break
   ========================================================================== */

/**
 * Break strings when their length exceeds the width of their container.
 */

@mixin text--break($extend: true) {
    @if $extend {
        @extend %text--break;
    } @else {
        word-wrap: break-word !important;
    }
}

%text--break { @include text--break($extend: false); }

/* Truncate
   ========================================================================== */

/**
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 */

@mixin text--truncate($extend: true) {
    @if $extend {
        @extend %text--truncate;
    } @else {
        max-width: 100%;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
    }
}

%text--truncate { @include text--truncate($extend: false); }

/* Alignment
   ========================================================================== */

/* Right */

@mixin text-align--right($extend: true) {
    @if $extend {
        @extend %text-align--right;
    } @else { text-align: right !important; }
}

%text-align--right { @include text-align--right($extend: false); }

/* Center */

@mixin text-align--center($extend: true) {
    @if $extend {
        @extend %text-align--center;
    } @else { text-align: center !important; }
}

%text-align--center { @include text-align--center($extend: false); }

/* Left */

@mixin text-align--left($extend: true) {
    @if $extend {
        @extend %text-align--left;
    } @else { text-align: left !important; }
}

%text-align--left { @include text-align--left($extend: false); }
