/**
 * base/_images.scss
 */

/* ==========================================================================
   Images
   ========================================================================== */

/* Image
   ========================================================================== */

/* Responsive defaults */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    img {
        max-width: none;
        max-height: none;
        width: 100%;
        height: auto;
    }
}
