////
/// Link defaults
/// @group Base
/// @author Matt Bailey
////

/**
 * base/_links.scss
 */

/* ==========================================================================
   Links
   ========================================================================== */

/* Default
   ========================================================================== */

a {
    text-decoration: none;
    color: $base-link-color;
    border-bottom: 1px solid lighten($base-link-color, 40%);
    transition: color $transition-duration $transition-easing, border-bottom $transition-duration $transition-easing;

    &:hover,
    &:active,
    &:focus {
        color: $black;
        border-bottom: 1px solid rgba(lighten($base-link-color, 40%), 0);
    }

    &:active, &:focus {
        outline: none;
    }
}
