/**
 * base/_typography.scss
 */

/* ==========================================================================
   Typography
   ========================================================================== */

/* Body
   ========================================================================== */

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    // -webkit-font-smoothing: antialiased; // Don't do this: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
    color: $c-base-font;
}

/* Headings
   ========================================================================== */

/**
 * Defaults
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-heading;
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: $c-base-heading;
    margin: 0 0 $base-spacing-unit*2;
}

/**
 * Sizes
 */

h1, .h1 {
    font-size: $font-size-h1;

    @include m-bp-more-than($bp-m-min) { font-size: $font-size-h2; }
}

h2, .h2 {
    font-size: $font-size-h2;

    @include m-bp-more-than($bp-m-min) { font-size: $font-size-h3; }
}

h3, .h3 {
    font-size: $font-size-h3;

    @include m-bp-more-than($bp-m-min) { font-size: $font-size-h4; }
}

h4, .h4 {
    font-size: $font-size-h4;

    @include m-bp-more-than($bp-m-min) { font-size: $font-size-h5; }
}

h5, .h5 {
    font-size: $font-size-h5;

    @include m-bp-more-than($bp-m-min) { font-size: $font-size-h6; }
}

h6, .h6 { font-size: $font-size-h6; }

/* General
   ========================================================================== */

/* Paragraphs */

p { margin-bottom: $base-spacing-unit*2; }

strong,
b { font-weight: bold; }

em { font-style: italic; }

/* Blockquotes */

blockquote {
    font-family: $display-heading;
    font-weight: normal;
    font-style: italic;
    font-size: $font-size-blockquote;
    padding: 0;
    margin: $base-spacing-unit*2 0;

    // Inherit blockquote styles
    p,
    cite {
        font-size: inherit;
        line-height: inherit;
    }
}

/* Horizontial rules */

hr {
    border-bottom: 1px solid $c-grey-medium;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing-unit*2 0;
}

/* Improve readability of pre-formatted text */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
